<!-- <div>
    <h2>Scegli la tonalità (CC 19):</h2>
    <div class="tone-buttons">
        <button (click)="onToneSelect({ value: 0, name: 'Natural' })" 
                [ngClass]="{'active': selectedTone?.value === 0}" class="tone-button-natural">
            Natural
        </button>
        <div style="display:flex">
            <button *ngFor="let tone of tones.slice(1, tones.length - 1)" 
                    [ngClass]="{'active': selectedTone?.value === tone.value}"
                    (click)="onToneSelect(tone)">
                {{ tone.name }}
            </button>
        </div>
        <button (click)="onToneSelect({ value: 13, name: 'Chromatic' })" 
                [ngClass]="{'active': selectedTone?.value === 13}" class="tone-button-chromatic">
            Chromatic
        </button>
    </div>
</div>
-->