body{
    font-family: "Poppins", sans-serif; /* Imposta il font per tutto il body */
    font-size: 16px; /* Imposta la dimensione del font */
    line-height: 1.5; /* Imposta l'altezza della linea */
    color: #333; /* Imposta il colore del testo */
    background-color: #f8f8f8; /* Imposta il colore di sfondo */
    margin: 0; /* Rimuove il margine predefinito */
    padding: 20px; /* Aggiunge padding */
}

.toggle-button {
    height: 64px;
    width: 150px;
    border: 2px solid black; /* Outline color */
    color: black; /* Default text color */
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fff; /* Default background */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transition for background and text color */
}

.toggle-button.on {
    background-color: #d15656; /* Color when ON */
    border: 2px solid #993434; /* Remove outline when ON */
    color: white; /* Text color when ON */
}

.toggle-button.off {
    background-color: #fff; /* Color when OFF */
    color: black; /* Text color when OFF */
}

.toggle-button:active {
  background-color: #a04545; /* Colore scuro quando attivo */
  color: white; /* Cambia il testo a bianco */
}

@media (max-width: 768px) { /* Adatta la larghezza in base ai tuoi requisiti */
  .toggle-button:hover {
      background-color: #fff; /* Rimuovi l'effetto hover */
      color: black; /* Testo nero */
  }

  .tone-buttons button:hover {
      background-color: transparent; /* Rimuovi l'effetto hover sui bottoni delle tonalità */
  }
}

@media (hover: hover) {
  .toggle-button:hover {
      background-color: lightcoral; /* Colore di sfondo quando hover */
      color: white; /* Colore del testo quando hover */
  }

  .tone-buttons button:hover {
      background-color: lightgreen; /* Sfondo verde chiaro quando il cursore è sopra */
  }
}

  .tone-buttons {
    display: flex; /* Usa flexbox per allineare i bottoni in fila */
  }
  
  .tone-buttons button {
    width: 100px; /* Larghezza dei bottoni */
    height: 50px; /* Altezza dei bottoni */
    border: 2px solid black; /* Outline nero quando non è attivo */
    background-color: #fff; /* Sfondo trasparente */
    color: black; /* Testo nero quando non è attivo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s, color 0.3s; /* Transizione per lo sfondo e il colore del testo */
    margin-right: -2px; /* Rimuovi il margine destro per evitare la somma dei bordi */
  }
  
  .tone-buttons button:last-child {
    margin-right: 0; /* Non applicare il margine all'ultimo bottone */
  }
  
  .tone-buttons button:hover {
    background-color: lightgreen; /* Sfondo verde chiaro quando il cursore è sopra */
  }
  
  .tone-buttons button.active {
    background-color: green; /* Sfondo verde quando il bottone è attivo */
    border: 2px solid rgb(5, 70, 5); 
    color: white; /* Testo bianco quando è attivo */
  }
  

  
.device-selection {
  margin: 20px 0; /* Spazio sopra e sotto il contenitore */
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333; /* Colore del testo */
  display:block;
}

.styled-select {
  width:100%;
  padding: 10px; /* Spazio interno */
  border: 2px solid #000; /* Bordo grigio chiaro */
  border-radius: 5px; /* Angoli arrotondati */
  font-size: 16px; /* Dimensione del font */
  background-color: #f9f9f9; /* Colore di sfondo */
  transition: border-color 0.3s; /* Transizione morbida per il bordo */
}

.styled-select:focus {
  border-color: #007BFF; /* Colore del bordo al focus */
  outline: none; /* Rimuovi il contorno di default */
  background-color: #fff; /* Cambia colore di sfondo al focus */
}

/* Aggiunta di un'ombra al focus per un effetto visivo migliore */
.styled-select:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Stile per gli slider */
.volume-slider {
  -webkit-appearance: none; /* Per WebKit (Chrome, Safari) */
  -moz-appearance: none;    /* Per Firefox */
  appearance: none;         /* Proprietà standard */
  width: 100%;              /* Imposta la larghezza al 100% */
  height: 16px;             /* Aumenta l'altezza dello slider */
  border-radius: 5px;       /* Aggiungi angoli arrotondati */
  background: #ddd;         /* Colore di sfondo */
  outline: none;            /* Rimuove il contorno */
  opacity: 0.7;             /* Opacità dello slider */
  transition: opacity .2s;  /* Transizione per l'opacità */
}

.volume-slider:hover {
  opacity: 1; /* Aumenta l'opacità al passaggio del mouse */
}

/* Pallino dello slider */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Per WebKit (Chrome, Safari) */
  appearance: none;         /* Proprietà standard */
  width: 24px;             /* Aumenta la larghezza del pallino */
  height: 24px;            /* Aumenta l'altezza del pallino */
  border-radius: 50%;      /* Rende il pallino rotondo */
  background: #d15656;     /* Colore del pallino */
  cursor: pointer;         /* Cambia il cursore al passaggio del mouse */
}

.volume-slider::-moz-range-thumb {
  width: 24px;             /* Aumenta la larghezza del pallino per Firefox */
  height: 24px;            /* Aumenta l'altezza del pallino per Firefox */
  border-radius: 50%;      /* Rende il pallino rotondo per Firefox */
  background: #d15656;     /* Colore del pallino per Firefox */
  cursor: pointer;         /* Cambia il cursore al passaggio del mouse per Firefox */
}
