<!--
git add .
git commit -m "allineamento"
git push
ng build --configuration production --base-href /tc-helicon-perform-ve-editor/
ng deploy
-->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TC Helicon Perform VE</title>

    <link rel="icon" type="image/png" href="assets/favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicon.png" sizes="16x16">

    <!-- Preconnect a Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="google-font.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div>
        <h3 style="font-weight: bold; text-align: center;">TC Helicon Perform VE</h3>
       
        <app-midi-settings></app-midi-settings>

        <div style="width: 100%; display: flex; justify-content: center; margin: 0 auto; margin-bottom: 16px; gap: 16px;">
            <button class="toggle-button toggle-pc-button" [ngClass]="{'on': activeProgram === 0, 'off': activeProgram !== 0}" (click)="this.midiService.sendProgramChange(0)">1</button>
            <button class="toggle-button toggle-pc-button" [ngClass]="{'on': activeProgram === 1, 'off': activeProgram !== 1}" (click)="this.midiService.sendProgramChange(1)">2</button>
            <button class="toggle-button toggle-pc-button" [ngClass]="{'on': activeProgram === 2, 'off': activeProgram !== 2}" (click)="this.midiService.sendProgramChange(2)">3</button>
        </div>      
        
        <div style="display: flex; flex:0 0 100%; justify-content: space-between; margin: 0 auto;">
            <div style="display: flex; flex-direction: column; gap: 16px;">
                <button class="toggle-button" [ngClass]="{'on': EffectStates.isDoubleOn, 'off': !EffectStates.isDoubleOn}" (click)="toggleEffect('isDoubleOn')">
                    Double
                </button>
                
                <button class="toggle-button" [ngClass]="{'on': EffectStates.isMorphOn, 'off': !EffectStates.isMorphOn}" (click)="toggleEffect('isMorphOn')">
                    Morph
                </button>
                
                <button class="toggle-button" [ngClass]="{'on': EffectStates.isHardTuneOn, 'off': !EffectStates.isHardTuneOn}" (click)="toggleEffect('isHardTuneOn')">
                    HardTune
                </button>
            </div>
            
            <div style="display: flex; flex-direction: column; gap: 16px;">
                <button class="toggle-button" [ngClass]="{'on': EffectStates.isXfxOn, 'off': !EffectStates.isXfxOn}" (click)="toggleEffect('isXfxOn')">
                    XFX
                </button>
                
                <button class="toggle-button" [ngClass]="{'on': EffectStates.isEchoOn, 'off': !EffectStates.isEchoOn}" (click)="toggleEffect('isEchoOn')">
                    Echo
                </button>
                
                <button class="toggle-button" [ngClass]="{'on': EffectStates.isFilterOn, 'off': !EffectStates.isFilterOn}" (click)="toggleEffect('isFilterOn')">
                    Filter
                </button>
            </div>
        </div>
        
        <div>
            <h3 style="font-weight: bold; text-align: center;">TC Helicon Perform VE</h3>
            
            <p-tabView>
                <p-tabPanel header="Double" [ngClass]="{'active': activeTab === 'double'}" (click)="activeTab = 'double'">
                    <app-double></app-double>
                </p-tabPanel>
                <p-tabPanel header="HardTune" [ngClass]="{'active': activeTab === 'hardTune'}" (click)="activeTab = 'hardTune'">
                    <app-hardtune></app-hardtune>
                </p-tabPanel>
                <p-tabPanel header="Morph" [ngClass]="{'active': activeTab === 'morph'}" (click)="activeTab = 'morph'">
                    <app-morph></app-morph>
                </p-tabPanel>
                <p-tabPanel header="XFX" [ngClass]="{'active': activeTab === 'xfx'}" (click)="activeTab = 'xfx'">
                    <app-xfx></app-xfx>
                </p-tabPanel>
                <p-tabPanel header="Echo" [ngClass]="{'active': activeTab === 'echo'}" (click)="activeTab = 'echo'">
                    <app-echo></app-echo>
                </p-tabPanel>
                <p-tabPanel header="Filter" [ngClass]="{'active': activeTab === 'filter'}" (click)="activeTab = 'filter'">
                    <app-filter></app-filter>
                </p-tabPanel>
            </p-tabView>
        </div>

        <!-- <div style="margin-top: 20px;">
            <label for="volume2">Volume VOICE MIDI (CC 42): {{ volume2 }}</label>
            <div class="control-wrapper" style="display: flex; align-items:center; gap:8px;">
                <button (click)="resetVolume(42)" class="reset-button"><i class="fas fa-volume-mute"></i></button>
                <input class="volume-slider" type="range" id="volume2" min="0" max="127" [(ngModel)]="volume2" (input)="onVolumeChange(volume2, 42)" />
                <button (click)="setMaxVolume(42)" class="max-volume-button"><i class="fas fa-volume-up"></i></button>
            </div>
        
            <label for="volume1">Volume VOICE LEAD (CC 41): {{ volume1 }}</label>
            <div class="control-wrapper" style="display: flex; align-items:center; gap:8px;">
                <button (click)="resetVolume(41)" class="reset-button"><i class="fas fa-volume-mute"></i></button>
                <input class="volume-slider" type="range" id="volume1" min="0" max="127" [(ngModel)]="volume1" (input)="onVolumeChange(volume1, 41)" />
                <button (click)="setMaxVolume(41)" class="max-volume-button"><i class="fas fa-volume-up"></i></button>
            </div>
        </div>
    -->
    </div> 
    
    
    
    <footer style="text-align:center">
        v 0.0.23
    </footer>
</body>
</html>